treamlit==1.33.0
pandas==2.2.1
plotly==5.20.0
matplotlib==3.8.3
seaborn==0.13.2
pymysql==1.1.0
bcrypt==4.1.2
scikit-learn==1.4.2
streamlit-option-menu==0.3.6
streamlit-extras==0.3.4
streamlit-kpi==0.0.2
streamlit_nested_layout==0.0.2
